{% extends "base.html.twig" %}
{% block title %}
	{{ parent() }}
	Liste des produits
{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
				<h1 class="text-center text-black">Liste des produits</h1>
				{% for product in products %}
					{{product.id}}
					{{product.nom}}
					{{product.prix}}<a href="index.php?
							page=updateProduits&id={{product.id}}">
						<i class="bi bi-pen-fill"></i>
					</a>
					<a href="index.php?
						page=addProduits&id={{product.id}}">
						<i class="bi bi-pen-fill"></i>
					</a><br/>
					{% endfor%}
				</div>
			</div>
		</div>
	{% endblock %}
